@use "../global/index.scss" as *;

body {
  font-feature-settings: "palt";
  -webkit-font-smoothing: antialiased;
  @include media(sp) {
    display: none !important;
  }
  @include media(pc) {
    width: pc_vw(1220);
    display: block;
  }
}

.pc-only {
  @include media(sp) {
    display: none !important;
  }
  @include media(pc) {
    display: block;
  }
}

.sp-only {
  @include media(sp) {
    display: block;
  }
  @include media(pc) {
    display: none !important;
  }
}
