// 特定のエリア内だけに反映させる場合
// :where(#id.class) {}

html {
  -webkit-text-size-adjust: 100%;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

img,
picture,
audio,
canvas,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: visible;
}

img.i,
svg.i {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

:focus-visible {
  outline: 2px solid currentcolor;
  outline-offset: 2px;
}
