@use '../../foundation/foundation' as *;

body {
  background-color: #f0f0f0;
}
.header {
  width: 100%;
  @include media(sp) {
  }
  @include media(pc) {
    height: pc(80);
  }
  .header_area {
    @include media(pc) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header_inner {
      @include media(sp) {
      }
      @include media(pc) {
        display: flex;
        align-items: center;
        padding-left: pc(80);
        gap: pc(60);
      }
      .header_logo {
        @include media(pc) {
          width: pc(100);
          height: pc(26);
        }
        .i {
          width: 100%;
          height: 100%;
        }
      }
      .header_nav {
        .header_list {
          display: flex;
          align-items: center;
          @include media(pc) {
            gap: pc(30);
          }
        }
      }
    }
    .header_contact {
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media(sp) {
      }
      @include media(pc) {
        width: pc(200);
        height: pc(80);
      }
      .header_text {
        color: #fff;
        line-height: 1;
        @include media(pc) {
          font-size: pc(12);
        }
      }
    }
  }
}
