---
import { metaData } from './meta.mjs';

const { pageMeta } = Astro.props;
const meta = metaData[pageMeta] || {};
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{meta.title}</title>
<meta name="description" content={meta.description} />
<meta name="keywords" content={meta.keywords} />

<!-- OG -->
<meta property="og:url" content={meta.og?.url || ''} />
<meta property="og:title" content={meta.og?.title || meta.title} />
<meta
  property="og:description"
  content={meta.og?.description || meta.description}
/>
<meta property="og:image" content={meta.og?.image || '/default-og.jpg'} />

<!-- Twitter -->
<meta
  name="twitter:card"
  content={meta.twitter?.card || 'summary_large_image'}
/>
