---
import BaseLayout from '../layouts/BaseLayout.astro';
import ImageFrame from '../components/ui/ImageFrame.astro';
---

<BaseLayout pageMeta="about" pageData="home">
  <!-- 画像テンプレート -->
  <!-- imgタグ -->
  <!-- <ImageFrame srcPaths={['about.jpg']} classNames="item" loading="eager" /> -->
  <!-- pictureタグ -->
  <p style="display: block;"></p>
  <ImageFrame srcPaths={['img_02.jpg', 'img_02.jpg']} classNames="item item2" loading="eager" />
</BaseLayout>
