@use "./viewport" as *;
@use "sass:math";
// サイズ可変(VW)
@function pc_vw($size) {
  @return calc(#{$size} / #{$viewport-pc} * 100vw);
}

@function sp_vw($size) {
  @return calc(#{$size} / #{$viewport-sp} * 100vw);
}

// @function pc_vh($size, $viewport: 800) {
//   $rate: math.div(100, $viewport);
//   @return ($rate * $size * 1vh);
// }

// @function clamp($minFont) {
//   $minWidth: 375;
//   $maxWidth: 1920;
//   $minFontSize: $minFont * 1px;
//   $fontVw: round($minFont/$minWidth * 100 * 1000) / 1000;
//   $maxFontSize: round($maxWidth * ($fontVw / 100)) * 1px;
//   @return clamp(#{$minFontSize}, #{$fontVw}vw, #{$maxFontSize});
// }
