// ブレークポイント
$breakpoint: 768;

// pc・sp
$viewport-pc: 1440;
$viewport-sp: 375;

// ビューポート単位
$vw: 100vw;
$vh: 100vh;

@mixin viewport {
  --breakpoint: #{$breakpoint}px;
  --viewport-pc: #{$viewport-pc}px;
  --viewport-sp: #{$viewport-sp}px; 
  --vw: #{$vw};
  --vh: #{$vh};
}
